@font-face {
  font-family: "Icon-Font";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg#IconFont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "IconFont";
    src: url("../fonts/flaticon.svg#IconFont") format("svg");
  }
}

.IconFont-add-circular-outlined-button:before {
  content: "\f100";
}

.IconFont-add-cross-outlined-symbol:before {
  content: "\f101";
}

.IconFont-add-square-outlined-interface-button:before {
  content: "\f102";
}

.IconFont-airplane-rotated-diagonal-transport-outlined-symbol:before {
  content: "\f103";
}

.IconFont-alarm-clock-symbol:before {
  content: "\f104";
}

.IconFont-arrow-entering-into-square:before {
  content: "\f105";
}

.IconFont-attach-interface-symbol-of-rotated-paperclip:before {
  content: "\f106";
}

.IconFont-attachment:before {
  content: "\f107";
}

.IconFont-audio-tool-in-silence:before {
  content: "\f108";
}

.IconFont-back-left-arrow-circular-button-outline:before {
  content: "\f109";
}

.IconFont-back-left-arrow-square-button-outline:before {
  content: "\f10a";
}

.IconFont-big-map-placeholder-outlined-symbol-of-interface:before {
  content: "\f10b";
}

.IconFont-book-outline:before {
  content: "\f10c";
}

.IconFont-bookmark-outlined-interface-symbol:before {
  content: "\f10d";
}

.IconFont-bottle-gross-outlined-symbol:before {
  content: "\f10e";
}

.IconFont-button-of-nine-outlined-circles:before {
  content: "\f10f";
}

.IconFont-buttons:before {
  content: "\f110";
}

.IconFont-cellphone:before {
  content: "\f111";
}

.IconFont-cellular-phone-outline:before {
  content: "\f112";
}

.IconFont-center-text-interface-symbol-of-lines:before {
  content: "\f113";
}

.IconFont-chat-comment-oval-speech-bubble-with-text-lines:before {
  content: "\f114";
}

.IconFont-chat-oval-speech-bubbles-symbol:before {
  content: "\f115";
}

.IconFont-checkmark-outline:before {
  content: "\f116";
}

.IconFont-checkmark-square-button-outline:before {
  content: "\f117";
}

.IconFont-checkmark-verify-interface-symbol-button:before {
  content: "\f118";
}

.IconFont-circular-arrow-counterclockwise-rotating-symbol:before {
  content: "\f119";
}

.IconFont-circular-graphic-outline:before {
  content: "\f11a";
}

.IconFont-circular-outlined-badge-with-ribbon-recognition-prize-symbol:before {
  content: "\f11b";
}

.IconFont-circular-target-shooting-interface-symbol:before {
  content: "\f11c";
}

.IconFont-clipboard-square-symbol:before {
  content: "\f11d";
}

.IconFont-close-circular-button-symbol:before {
  content: "\f11e";
}

.IconFont-cloud-outlined-shape:before {
  content: "\f11f";
}

.IconFont-cloud-with-hail-falling:before {
  content: "\f120";
}

.IconFont-cocktail-glass-outline:before {
  content: "\f121";
}

.IconFont-code-signs:before {
  content: "\f122";
}

.IconFont-collapse-two-arrows-diagonal-symbol:before {
  content: "\f123";
}

.IconFont-comment-oval-outlined-balloon:before {
  content: "\f124";
}

.IconFont-compass-orientation-symbol:before {
  content: "\f125";
}

.IconFont-contract-two-arrows-symbol-pointing-the-center-of-square-button:before {
  content: "\f126";
}

.IconFont-copy-two-paper-sheets-interface-symbol:before {
  content: "\f127";
}

.IconFont-crescent-moon-phase-outlined-shape:before {
  content: "\f128";
}

.IconFont-cropping-interface-tool-symbol:before {
  content: "\f129";
}

.IconFont-cross-rounded-outline:before {
  content: "\f12a";
}

.IconFont-cross-square-button:before {
  content: "\f12b";
}

.IconFont-cube-of-notes-stack:before {
  content: "\f12c";
}

.IconFont-double-arrow-horizontal-symbol:before {
  content: "\f12d";
}

.IconFont-double-arrow-vertical-symbol:before {
  content: "\f12e";
}

.IconFont-double-right-arrows-angles:before {
  content: "\f12f";
}

.IconFont-down-arrow:before {
  content: "\f130";
}

.IconFont-down-arrow-square-button:before {
  content: "\f131";
}

.IconFont-down-arrow-square-outlined-button:before {
  content: "\f132";
}

.IconFont-down-arrow-to-a-square:before {
  content: "\f133";
}

.IconFont-down-circular-button:before {
  content: "\f134";
}

.IconFont-download-circular-button:before {
  content: "\f135";
}

.IconFont-download-down-arrow-symbol:before {
  content: "\f136";
}

.IconFont-download-from-internet-cloud:before {
  content: "\f137";
}

.IconFont-download-square-button:before {
  content: "\f138";
}

.IconFont-download-square-outlined-interface-button:before {
  content: "\f139";
}

.IconFont-electrical-storm-weather-symbol:before {
  content: "\f13a";
}

.IconFont-electronic-game-machine-outline:before {
  content: "\f13b";
}

.IconFont-email-closed-outlined-back-envelope-interface-symbol:before {
  content: "\f13c";
}

.IconFont-email-square-outlined-interface-symbol-of-envelope-back:before {
  content: "\f13d";
}

.IconFont-equalization:before {
  content: "\f13e";
}

.IconFont-equalizer-interface-square-button-symbol:before {
  content: "\f13f";
}

.IconFont-event-weekly-calendar-symbol:before {
  content: "\f140";
}

.IconFont-expand-square-interface-button-of-two-arrows:before {
  content: "\f141";
}

.IconFont-expanding-two-opposite-arrows-diagonal-symbol-of-interface:before {
  content: "\f142";
}

.IconFont-fast-forward-double-arrow-outline:before {
  content: "\f143";
}

.IconFont-favourites-star-outline-interface-symbol:before {
  content: "\f144";
}

.IconFont-file-rounded-empty-sheet:before {
  content: "\f145";
}

.IconFont-file-rounded-outlined-symbol:before {
  content: "\f146";
}

.IconFont-film-strip-couple-of-photograms:before {
  content: "\f147";
}

.IconFont-flag-outline:before {
  content: "\f148";
}

.IconFont-fog-at-night-weather-symbol:before {
  content: "\f149";
}

.IconFont-foggy-day-fog-at-sunset-or-sunrise:before {
  content: "\f14a";
}

.IconFont-folder-outline:before {
  content: "\f14b";
}

.IconFont-fork:before {
  content: "\f14c";
}

.IconFont-four-rounded-squares-button:before {
  content: "\f14d";
}

.IconFont-full-screen-interface-symbol-of-four-arrows-in-square-button:before {
  content: "\f14e";
}

.IconFont-games-machine-outline:before {
  content: "\f14f";
}

.IconFont-gear-outlined-symbol:before {
  content: "\f150";
}

.IconFont-giftbox-outline:before {
  content: "\f151";
}

.IconFont-graphical-business-presentation-on-a-screen:before {
  content: "\f152";
}

.IconFont-headphones-audio-symbol:before {
  content: "\f153";
}

.IconFont-hot-interface-symbol-of-fire-flames-outline:before {
  content: "\f154";
}

.IconFont-images-square-outlined-interface-button-symbol:before {
  content: "\f155";
}

.IconFont-ink-interface-symbol-of-drop-outline:before {
  content: "\f156";
}

.IconFont-label-outline:before {
  content: "\f157";
}

.IconFont-left-alignment:before {
  content: "\f158";
}

.IconFont-left-arrow-curve-outline:before {
  content: "\f159";
}

.IconFont-left-arrow-in-circle-outline:before {
  content: "\f15a";
}

.IconFont-left-arrow-line-symbol:before {
  content: "\f15b";
}

.IconFont-left-arrow-rounded-outlined-button-interface-symbol:before {
  content: "\f15c";
}

.IconFont-left-arrow-signal-outline:before {
  content: "\f15d";
}

.IconFont-left-arrow-square-outlined-button:before {
  content: "\f15e";
}

.IconFont-left-arrow-with-a-cross:before {
  content: "\f15f";
}

.IconFont-like-heart-outline-symbol:before {
  content: "\f160";
}

.IconFont-link-button:before {
  content: "\f161";
}

.IconFont-list:before {
  content: "\f162";
}

.IconFont-list-interface-symbol:before {
  content: "\f163";
}

.IconFont-lock-circular-padlock-outline-tool-symbol:before {
  content: "\f164";
}

.IconFont-login-arrow-symbol-entering-back-into-a-square:before {
  content: "\f165";
}

.IconFont-login-square-arrow-button-outline:before {
  content: "\f166";
}

.IconFont-map-folded-outlined-paper:before {
  content: "\f167";
}

.IconFont-megaphone-outline-of-amplification-tool:before {
  content: "\f168";
}

.IconFont-men:before {
  content: "\f169";
}

.IconFont-menu-square-button:before {
  content: "\f16a";
}

.IconFont-menu-three-outlined-rounded-lines-symbol:before {
  content: "\f16b";
}

.IconFont-microphone:before {
  content: "\f16c";
}

.IconFont-microphone-outlined-tool:before {
  content: "\f16d";
}

.IconFont-minus-circular-button:before {
  content: "\f16e";
}

.IconFont-minus-in-zoom-symbol:before {
  content: "\f16f";
}

.IconFont-minus-outline:before {
  content: "\f170";
}

.IconFont-minus-square-outlined-button:before {
  content: "\f171";
}

.IconFont-monitor-outline:before {
  content: "\f172";
}

.IconFont-music-note:before {
  content: "\f173";
}

.IconFont-music-rectangular-interface-button-outline:before {
  content: "\f174";
}

.IconFont-music-theme:before {
  content: "\f175";
}

.IconFont-musical-note:before {
  content: "\f176";
}

.IconFont-musical-note-outlined-symbol:before {
  content: "\f177";
}

.IconFont-mute-voice:before {
  content: "\f178";
}

.IconFont-new-email-envelope-frontal-view:before {
  content: "\f179";
}

.IconFont-nine-oclock-on-circular-clock:before {
  content: "\f17a";
}

.IconFont-note-outlined-symbol:before {
  content: "\f17b";
}

.IconFont-notebook-rectangular-symbol-with-spring:before {
  content: "\f17c";
}

.IconFont-notification-bell-outline-interface-symbol:before {
  content: "\f17d";
}

.IconFont-notification-bell-outline-interface-symbol-1:before {
  content: "\f17e";
}

.IconFont-opened-email-outlined-envelope-back-interface-symbol:before {
  content: "\f17f";
}

.IconFont-oval-empty-outlined-speech-bubble:before {
  content: "\f180";
}

.IconFont-paintbrush-outline:before {
  content: "\f181";
}

.IconFont-paper-airplane-outline:before {
  content: "\f182";
}

.IconFont-pause-outlined-big-symbol:before {
  content: "\f183";
}

.IconFont-pencil-big-outlined-vertical-tool-symbol:before {
  content: "\f184";
}

.IconFont-phone-auricular-outline:before {
  content: "\f185";
}

.IconFont-photo-camera-outline:before {
  content: "\f186";
}

.IconFont-pin:before {
  content: "\f187";
}

.IconFont-planetary-grid-symbol:before {
  content: "\f188";
}

.IconFont-play-triangle-outline:before {
  content: "\f189";
}

.IconFont-portfolio-outline:before {
  content: "\f18a";
}

.IconFont-print-interface-button-symbol-of-printer-outline:before {
  content: "\f18b";
}

.IconFont-radio:before {
  content: "\f18c";
}

.IconFont-rain-weather-cloud-outline-symbol-with-raindrops-lines:before {
  content: "\f18d";
}

.IconFont-rectangular-outlined-speech-bubble-symbol:before {
  content: "\f18e";
}

.IconFont-recycling-bin:before {
  content: "\f18f";
}

.IconFont-rewind-double-arrow-outline-multimedia-button-symbol:before {
  content: "\f190";
}

.IconFont-right-arrow-angle:before {
  content: "\f191";
}

.IconFont-right-arrow-circular-button-outline:before {
  content: "\f192";
}

.IconFont-right-arrow-circular-outlined-button:before {
  content: "\f193";
}

.IconFont-right-arrow-on-a-pole-outlined-orientation-signal-symbol:before {
  content: "\f194";
}

.IconFont-right-arrow-outline:before {
  content: "\f195";
}

.IconFont-right-arrow-square-button-symbol:before {
  content: "\f196";
}

.IconFont-right-arrow-square-outlined-button:before {
  content: "\f197";
}

.IconFont-right-arrow-symbol-in-a-square-outline:before {
  content: "\f198";
}

.IconFont-rounded-rectangular-tool-shape:before {
  content: "\f199";
}

.IconFont-sand-clock:before {
  content: "\f19a";
}

.IconFont-save-button-interface-symbol-of-outlined-diskette:before {
  content: "\f19b";
}

.IconFont-search-interface-symbol:before {
  content: "\f19c";
}

.IconFont-search-oval-magnification-tool-or-spoon-interface-symbol:before {
  content: "\f19d";
}

.IconFont-share-social-interface-button:before {
  content: "\f19e";
}

.IconFont-shopping-bag:before {
  content: "\f19f";
}

.IconFont-shopping-basket-e-commerce-symbol:before {
  content: "\f1a0";
}

.IconFont-shopping-cart-outline:before {
  content: "\f1a1";
}

.IconFont-shopping-cart-outline-1:before {
  content: "\f1a2";
}

.IconFont-shuffle:before {
  content: "\f1a3";
}

.IconFont-sort-ascending:before {
  content: "\f1a4";
}

.IconFont-sort-descending:before {
  content: "\f1a5";
}

.IconFont-speaker-musical-amplification-outlined-frontal-tool:before {
  content: "\f1a6";
}

.IconFont-speaker-outline:before {
  content: "\f1a7";
}

.IconFont-speaker-outline-1:before {
  content: "\f1a8";
}

.IconFont-speaker-outline-audio-interface-symbol:before {
  content: "\f1a9";
}

.IconFont-speaker-outlined-square-frontal-tool-audio-tool-symbol:before {
  content: "\f1aa";
}

.IconFont-speech-bubble-oval-symbol-with-three-dots:before {
  content: "\f1ab";
}

.IconFont-square-outline:before {
  content: "\f1ac";
}

.IconFont-square-shape-design-interface-tool-symbol:before {
  content: "\f1ad";
}

.IconFont-square-targeting-interface-symbol:before {
  content: "\f1ae";
}

.IconFont-store-commercial-symbol-outline:before {
  content: "\f1af";
}

.IconFont-sun-day-weather-symbol:before {
  content: "\f1b0";
}

.IconFont-sunrise-or-sunset:before {
  content: "\f1b1";
}

.IconFont-switch-outlined-symbol:before {
  content: "\f1b2";
}

.IconFont-switch-outlined-tool-symbol:before {
  content: "\f1b3";
}

.IconFont-tag-outline:before {
  content: "\f1b4";
}

.IconFont-television-outline:before {
  content: "\f1b5";
}

.IconFont-text-alignment-option-button-interface-symbol:before {
  content: "\f1b6";
}

.IconFont-text-paper-sheet-symbol:before {
  content: "\f1b7";
}

.IconFont-three-vertical-outlined-bars-symbol:before {
  content: "\f1b8";
}

.IconFont-timer-timing-tool:before {
  content: "\f1b9";
}

.IconFont-tool-outline-of-hotel-reception-or-covered-food-tray:before {
  content: "\f1ba";
}

.IconFont-triangle-equilateral-outline-shape-on-horizontal-line:before {
  content: "\f1bb";
}

.IconFont-trophy-outline:before {
  content: "\f1bc";
}

.IconFont-two-arrows:before {
  content: "\f1bd";
}

.IconFont-two-circular-arrows:before {
  content: "\f1be";
}

.IconFont-two-circular-counterclockwise-rotating-arrows-symbol:before {
  content: "\f1bf";
}

.IconFont-two-drops-sizes-outlined-shapes:before {
  content: "\f1c0";
}

.IconFont-two-rounded-equal-squares-outlines-symbol:before {
  content: "\f1c1";
}

.IconFont-unlocked-circular-padlock-outline:before {
  content: "\f1c2";
}

.IconFont-up-arrow-angle:before {
  content: "\f1c3";
}

.IconFont-up-arrow-circular-button:before {
  content: "\f1c4";
}

.IconFont-up-arrow-in-square-interface-button:before {
  content: "\f1c5";
}

.IconFont-up-arrow-into-square:before {
  content: "\f1c6";
}

.IconFont-up-arrow-or-flag-shape-big-gross-outlined-symbol:before {
  content: "\f1c7";
}

.IconFont-up-arrow-square-button:before {
  content: "\f1c8";
}

.IconFont-up-arrow-square-button-outline:before {
  content: "\f1c9";
}

.IconFont-up-arrow-with-house-shape-outlined-symbol:before {
  content: "\f1ca";
}

.IconFont-up-circular-interface-button:before {
  content: "\f1cb";
}

.IconFont-up-square-button-outline:before {
  content: "\f1cc";
}

.IconFont-upload:before {
  content: "\f1cd";
}

.IconFont-upload-to-the-cloud:before {
  content: "\f1ce";
}

.IconFont-upper-right-arrow-square-button-outlined-symbol:before {
  content: "\f1cf";
}

.IconFont-user-info-interface-symbol-with-text-lines-at-right-side:before {
  content: "\f1d0";
}

.IconFont-user-outline-male-symbol-of-interface:before {
  content: "\f1d1";
}

.IconFont-video-camera-outline:before {
  content: "\f1d2";
}

.IconFont-wallet-outline:before {
  content: "\f1d3";
}

.IconFont-weather-interface-symbol-of-a-semicircle-on-three-lines-perspective:before {
  content: "\f1d4";
}

.IconFont-weekly-calendar:before {
  content: "\f1d5";
}

.IconFont-weekly-calendar-outline-event-interface-symbol:before {
  content: "\f1d6";
}

.IconFont-wind-socket-outlined-symbol:before {
  content: "\f1d7";
}

.IconFont-window-outline:before {
  content: "\f1d8";
}

.IconFont-winds-lines-weather-symbol:before {
  content: "\f1d9";
}

.IconFont-wrench-outline:before {
  content: "\f1da";
}

.IconFont-zoom-increasing-symbol:before {
  content: "\f1db";
}
