	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-circular-outlined-button:before { content: "\f100"; }
.flaticon-add-cross-outlined-symbol:before { content: "\f101"; }
.flaticon-add-square-outlined-interface-button:before { content: "\f102"; }
.flaticon-airplane-rotated-diagonal-transport-outlined-symbol:before { content: "\f103"; }
.flaticon-alarm-clock-symbol:before { content: "\f104"; }
.flaticon-arrow-entering-into-square:before { content: "\f105"; }
.flaticon-attach-interface-symbol-of-rotated-paperclip:before { content: "\f106"; }
.flaticon-attachment:before { content: "\f107"; }
.flaticon-audio-tool-in-silence:before { content: "\f108"; }
.flaticon-back-left-arrow-circular-button-outline:before { content: "\f109"; }
.flaticon-back-left-arrow-square-button-outline:before { content: "\f10a"; }
.flaticon-big-map-placeholder-outlined-symbol-of-interface:before { content: "\f10b"; }
.flaticon-book-outline:before { content: "\f10c"; }
.flaticon-bookmark-outlined-interface-symbol:before { content: "\f10d"; }
.flaticon-bottle-gross-outlined-symbol:before { content: "\f10e"; }
.flaticon-button-of-nine-outlined-circles:before { content: "\f10f"; }
.flaticon-buttons:before { content: "\f110"; }
.flaticon-cellphone:before { content: "\f111"; }
.flaticon-cellular-phone-outline:before { content: "\f112"; }
.flaticon-center-text-interface-symbol-of-lines:before { content: "\f113"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f114"; }
.flaticon-chat-oval-speech-bubbles-symbol:before { content: "\f115"; }
.flaticon-checkmark-outline:before { content: "\f116"; }
.flaticon-checkmark-square-button-outline:before { content: "\f117"; }
.flaticon-checkmark-verify-interface-symbol-button:before { content: "\f118"; }
.flaticon-circular-arrow-counterclockwise-rotating-symbol:before { content: "\f119"; }
.flaticon-circular-graphic-outline:before { content: "\f11a"; }
.flaticon-circular-outlined-badge-with-ribbon-recognition-prize-symbol:before { content: "\f11b"; }
.flaticon-circular-target-shooting-interface-symbol:before { content: "\f11c"; }
.flaticon-clipboard-square-symbol:before { content: "\f11d"; }
.flaticon-close-circular-button-symbol:before { content: "\f11e"; }
.flaticon-cloud-outlined-shape:before { content: "\f11f"; }
.flaticon-cloud-with-hail-falling:before { content: "\f120"; }
.flaticon-cocktail-glass-outline:before { content: "\f121"; }
.flaticon-code-signs:before { content: "\f122"; }
.flaticon-collapse-two-arrows-diagonal-symbol:before { content: "\f123"; }
.flaticon-comment-oval-outlined-balloon:before { content: "\f124"; }
.flaticon-compass-orientation-symbol:before { content: "\f125"; }
.flaticon-contract-two-arrows-symbol-pointing-the-center-of-square-button:before { content: "\f126"; }
.flaticon-copy-two-paper-sheets-interface-symbol:before { content: "\f127"; }
.flaticon-crescent-moon-phase-outlined-shape:before { content: "\f128"; }
.flaticon-cropping-interface-tool-symbol:before { content: "\f129"; }
.flaticon-cross-rounded-outline:before { content: "\f12a"; }
.flaticon-cross-square-button:before { content: "\f12b"; }
.flaticon-cube-of-notes-stack:before { content: "\f12c"; }
.flaticon-double-arrow-horizontal-symbol:before { content: "\f12d"; }
.flaticon-double-arrow-vertical-symbol:before { content: "\f12e"; }
.flaticon-double-right-arrows-angles:before { content: "\f12f"; }
.flaticon-down-arrow:before { content: "\f130"; }
.flaticon-down-arrow-square-button:before { content: "\f131"; }
.flaticon-down-arrow-square-outlined-button:before { content: "\f132"; }
.flaticon-down-arrow-to-a-square:before { content: "\f133"; }
.flaticon-down-circular-button:before { content: "\f134"; }
.flaticon-download-circular-button:before { content: "\f135"; }
.flaticon-download-down-arrow-symbol:before { content: "\f136"; }
.flaticon-download-from-internet-cloud:before { content: "\f137"; }
.flaticon-download-square-button:before { content: "\f138"; }
.flaticon-download-square-outlined-interface-button:before { content: "\f139"; }
.flaticon-electrical-storm-weather-symbol:before { content: "\f13a"; }
.flaticon-electronic-game-machine-outline:before { content: "\f13b"; }
.flaticon-email-closed-outlined-back-envelope-interface-symbol:before { content: "\f13c"; }
.flaticon-email-square-outlined-interface-symbol-of-envelope-back:before { content: "\f13d"; }
.flaticon-equalization:before { content: "\f13e"; }
.flaticon-equalizer-interface-square-button-symbol:before { content: "\f13f"; }
.flaticon-event-weekly-calendar-symbol:before { content: "\f140"; }
.flaticon-expand-square-interface-button-of-two-arrows:before { content: "\f141"; }
.flaticon-expanding-two-opposite-arrows-diagonal-symbol-of-interface:before { content: "\f142"; }
.flaticon-fast-forward-double-arrow-outline:before { content: "\f143"; }
.flaticon-favourites-star-outline-interface-symbol:before { content: "\f144"; }
.flaticon-file-rounded-empty-sheet:before { content: "\f145"; }
.flaticon-file-rounded-outlined-symbol:before { content: "\f146"; }
.flaticon-film-strip-couple-of-photograms:before { content: "\f147"; }
.flaticon-flag-outline:before { content: "\f148"; }
.flaticon-fog-at-night-weather-symbol:before { content: "\f149"; }
.flaticon-foggy-day-fog-at-sunset-or-sunrise:before { content: "\f14a"; }
.flaticon-folder-outline:before { content: "\f14b"; }
.flaticon-fork:before { content: "\f14c"; }
.flaticon-four-rounded-squares-button:before { content: "\f14d"; }
.flaticon-full-screen-interface-symbol-of-four-arrows-in-square-button:before { content: "\f14e"; }
.flaticon-games-machine-outline:before { content: "\f14f"; }
.flaticon-gear-outlined-symbol:before { content: "\f150"; }
.flaticon-giftbox-outline:before { content: "\f151"; }
.flaticon-graphical-business-presentation-on-a-screen:before { content: "\f152"; }
.flaticon-headphones-audio-symbol:before { content: "\f153"; }
.flaticon-hot-interface-symbol-of-fire-flames-outline:before { content: "\f154"; }
.flaticon-images-square-outlined-interface-button-symbol:before { content: "\f155"; }
.flaticon-ink-interface-symbol-of-drop-outline:before { content: "\f156"; }
.flaticon-label-outline:before { content: "\f157"; }
.flaticon-left-alignment:before { content: "\f158"; }
.flaticon-left-arrow-curve-outline:before { content: "\f159"; }
.flaticon-left-arrow-in-circle-outline:before { content: "\f15a"; }
.flaticon-left-arrow-line-symbol:before { content: "\f15b"; }
.flaticon-left-arrow-rounded-outlined-button-interface-symbol:before { content: "\f15c"; }
.flaticon-left-arrow-signal-outline:before { content: "\f15d"; }
.flaticon-left-arrow-square-outlined-button:before { content: "\f15e"; }
.flaticon-left-arrow-with-a-cross:before { content: "\f15f"; }
.flaticon-like-heart-outline-symbol:before { content: "\f160"; }
.flaticon-link-button:before { content: "\f161"; }
.flaticon-list:before { content: "\f162"; }
.flaticon-list-interface-symbol:before { content: "\f163"; }
.flaticon-lock-circular-padlock-outline-tool-symbol:before { content: "\f164"; }
.flaticon-login-arrow-symbol-entering-back-into-a-square:before { content: "\f165"; }
.flaticon-login-square-arrow-button-outline:before { content: "\f166"; }
.flaticon-map-folded-outlined-paper:before { content: "\f167"; }
.flaticon-megaphone-outline-of-amplification-tool:before { content: "\f168"; }
.flaticon-men:before { content: "\f169"; }
.flaticon-menu-square-button:before { content: "\f16a"; }
.flaticon-menu-three-outlined-rounded-lines-symbol:before { content: "\f16b"; }
.flaticon-microphone:before { content: "\f16c"; }
.flaticon-microphone-outlined-tool:before { content: "\f16d"; }
.flaticon-minus-circular-button:before { content: "\f16e"; }
.flaticon-minus-in-zoom-symbol:before { content: "\f16f"; }
.flaticon-minus-outline:before { content: "\f170"; }
.flaticon-minus-square-outlined-button:before { content: "\f171"; }
.flaticon-monitor-outline:before { content: "\f172"; }
.flaticon-music-note:before { content: "\f173"; }
.flaticon-music-rectangular-interface-button-outline:before { content: "\f174"; }
.flaticon-music-theme:before { content: "\f175"; }
.flaticon-musical-note:before { content: "\f176"; }
.flaticon-musical-note-outlined-symbol:before { content: "\f177"; }
.flaticon-mute-voice:before { content: "\f178"; }
.flaticon-new-email-envelope-frontal-view:before { content: "\f179"; }
.flaticon-nine-oclock-on-circular-clock:before { content: "\f17a"; }
.flaticon-note-outlined-symbol:before { content: "\f17b"; }
.flaticon-notebook-rectangular-symbol-with-spring:before { content: "\f17c"; }
.flaticon-notification-bell-outline-interface-symbol:before { content: "\f17d"; }
.flaticon-notification-bell-outline-interface-symbol-1:before { content: "\f17e"; }
.flaticon-opened-email-outlined-envelope-back-interface-symbol:before { content: "\f17f"; }
.flaticon-oval-empty-outlined-speech-bubble:before { content: "\f180"; }
.flaticon-paintbrush-outline:before { content: "\f181"; }
.flaticon-paper-airplane-outline:before { content: "\f182"; }
.flaticon-pause-outlined-big-symbol:before { content: "\f183"; }
.flaticon-pencil-big-outlined-vertical-tool-symbol:before { content: "\f184"; }
.flaticon-phone-auricular-outline:before { content: "\f185"; }
.flaticon-photo-camera-outline:before { content: "\f186"; }
.flaticon-pin:before { content: "\f187"; }
.flaticon-planetary-grid-symbol:before { content: "\f188"; }
.flaticon-play-triangle-outline:before { content: "\f189"; }
.flaticon-portfolio-outline:before { content: "\f18a"; }
.flaticon-print-interface-button-symbol-of-printer-outline:before { content: "\f18b"; }
.flaticon-radio:before { content: "\f18c"; }
.flaticon-rain-weather-cloud-outline-symbol-with-raindrops-lines:before { content: "\f18d"; }
.flaticon-rectangular-outlined-speech-bubble-symbol:before { content: "\f18e"; }
.flaticon-recycling-bin:before { content: "\f18f"; }
.flaticon-rewind-double-arrow-outline-multimedia-button-symbol:before { content: "\f190"; }
.flaticon-right-arrow-angle:before { content: "\f191"; }
.flaticon-right-arrow-circular-button-outline:before { content: "\f192"; }
.flaticon-right-arrow-circular-outlined-button:before { content: "\f193"; }
.flaticon-right-arrow-on-a-pole-outlined-orientation-signal-symbol:before { content: "\f194"; }
.flaticon-right-arrow-outline:before { content: "\f195"; }
.flaticon-right-arrow-square-button-symbol:before { content: "\f196"; }
.flaticon-right-arrow-square-outlined-button:before { content: "\f197"; }
.flaticon-right-arrow-symbol-in-a-square-outline:before { content: "\f198"; }
.flaticon-rounded-rectangular-tool-shape:before { content: "\f199"; }
.flaticon-sand-clock:before { content: "\f19a"; }
.flaticon-save-button-interface-symbol-of-outlined-diskette:before { content: "\f19b"; }
.flaticon-search-interface-symbol:before { content: "\f19c"; }
.flaticon-search-oval-magnification-tool-or-spoon-interface-symbol:before { content: "\f19d"; }
.flaticon-share-social-interface-button:before { content: "\f19e"; }
.flaticon-shopping-bag:before { content: "\f19f"; }
.flaticon-shopping-basket-e-commerce-symbol:before { content: "\f1a0"; }
.flaticon-shopping-cart-outline:before { content: "\f1a1"; }
.flaticon-shopping-cart-outline-1:before { content: "\f1a2"; }
.flaticon-shuffle:before { content: "\f1a3"; }
.flaticon-sort-ascending:before { content: "\f1a4"; }
.flaticon-sort-descending:before { content: "\f1a5"; }
.flaticon-speaker-musical-amplification-outlined-frontal-tool:before { content: "\f1a6"; }
.flaticon-speaker-outline:before { content: "\f1a7"; }
.flaticon-speaker-outline-1:before { content: "\f1a8"; }
.flaticon-speaker-outline-audio-interface-symbol:before { content: "\f1a9"; }
.flaticon-speaker-outlined-square-frontal-tool-audio-tool-symbol:before { content: "\f1aa"; }
.flaticon-speech-bubble-oval-symbol-with-three-dots:before { content: "\f1ab"; }
.flaticon-square-outline:before { content: "\f1ac"; }
.flaticon-square-shape-design-interface-tool-symbol:before { content: "\f1ad"; }
.flaticon-square-targeting-interface-symbol:before { content: "\f1ae"; }
.flaticon-store-commercial-symbol-outline:before { content: "\f1af"; }
.flaticon-sun-day-weather-symbol:before { content: "\f1b0"; }
.flaticon-sunrise-or-sunset:before { content: "\f1b1"; }
.flaticon-switch-outlined-symbol:before { content: "\f1b2"; }
.flaticon-switch-outlined-tool-symbol:before { content: "\f1b3"; }
.flaticon-tag-outline:before { content: "\f1b4"; }
.flaticon-television-outline:before { content: "\f1b5"; }
.flaticon-text-alignment-option-button-interface-symbol:before { content: "\f1b6"; }
.flaticon-text-paper-sheet-symbol:before { content: "\f1b7"; }
.flaticon-three-vertical-outlined-bars-symbol:before { content: "\f1b8"; }
.flaticon-timer-timing-tool:before { content: "\f1b9"; }
.flaticon-tool-outline-of-hotel-reception-or-covered-food-tray:before { content: "\f1ba"; }
.flaticon-triangle-equilateral-outline-shape-on-horizontal-line:before { content: "\f1bb"; }
.flaticon-trophy-outline:before { content: "\f1bc"; }
.flaticon-two-arrows:before { content: "\f1bd"; }
.flaticon-two-circular-arrows:before { content: "\f1be"; }
.flaticon-two-circular-counterclockwise-rotating-arrows-symbol:before { content: "\f1bf"; }
.flaticon-two-drops-sizes-outlined-shapes:before { content: "\f1c0"; }
.flaticon-two-rounded-equal-squares-outlines-symbol:before { content: "\f1c1"; }
.flaticon-unlocked-circular-padlock-outline:before { content: "\f1c2"; }
.flaticon-up-arrow-angle:before { content: "\f1c3"; }
.flaticon-up-arrow-circular-button:before { content: "\f1c4"; }
.flaticon-up-arrow-in-square-interface-button:before { content: "\f1c5"; }
.flaticon-up-arrow-into-square:before { content: "\f1c6"; }
.flaticon-up-arrow-or-flag-shape-big-gross-outlined-symbol:before { content: "\f1c7"; }
.flaticon-up-arrow-square-button:before { content: "\f1c8"; }
.flaticon-up-arrow-square-button-outline:before { content: "\f1c9"; }
.flaticon-up-arrow-with-house-shape-outlined-symbol:before { content: "\f1ca"; }
.flaticon-up-circular-interface-button:before { content: "\f1cb"; }
.flaticon-up-square-button-outline:before { content: "\f1cc"; }
.flaticon-upload:before { content: "\f1cd"; }
.flaticon-upload-to-the-cloud:before { content: "\f1ce"; }
.flaticon-upper-right-arrow-square-button-outlined-symbol:before { content: "\f1cf"; }
.flaticon-user-info-interface-symbol-with-text-lines-at-right-side:before { content: "\f1d0"; }
.flaticon-user-outline-male-symbol-of-interface:before { content: "\f1d1"; }
.flaticon-video-camera-outline:before { content: "\f1d2"; }
.flaticon-wallet-outline:before { content: "\f1d3"; }
.flaticon-weather-interface-symbol-of-a-semicircle-on-three-lines-perspective:before { content: "\f1d4"; }
.flaticon-weekly-calendar:before { content: "\f1d5"; }
.flaticon-weekly-calendar-outline-event-interface-symbol:before { content: "\f1d6"; }
.flaticon-wind-socket-outlined-symbol:before { content: "\f1d7"; }
.flaticon-window-outline:before { content: "\f1d8"; }
.flaticon-winds-lines-weather-symbol:before { content: "\f1d9"; }
.flaticon-wrench-outline:before { content: "\f1da"; }
.flaticon-zoom-increasing-symbol:before { content: "\f1db"; }