@import 'components/_variables-Color';
@import "components/_fx-generales";
$altoHeader        : 55px;
$imgUser           : 35px;
$paddingHeader     : 2rem;
$radio_NumberCount : 16px;

@mixin display-Align($display : inline-block, $align : middle) {
    display        : $display;
    vertical-align : $align;
}
.AppWrapper{
    width  : 100%;
    height : 100%;
}
.Header{
    background-color : #fff;
    border-bottom    : 1px solid #e1e8ed;
    box-shadow       : 0px 0.5px 0.8px rgba(0,0,0,0.15);
    display          : flex;
    height           : $altoHeader;
    width            : 100%;
    padding          : 0px $paddingHeader;
    position         : relative;
    top              : 0px;
    z-index          : 6;
    // animation-name            : Header--FX;
    // animation-duration        : 1s;
    // animation-timing-function : ease-in-out;
    &-logo{
        width       : 150px;
        align-self  : center;
        user-select : none;
    }
    &-PullRight{
        align-self  : center;
        margin-left : auto;
    }
    &-ShortCutsContainer{
        user-select      : none;
        @include display-Align;
    }
    &-Separador{
        width            : 1px;
        height           : 38px;
        background-color : $Warning;
        margin: 0px 12px;
        @include display-Align;
    }
    &-User{
        cursor      : pointer;
        margin-left : 10px;
        position    : relative;
        user-select : none;
        @include display-Align;
        &Picture{
            width         : $imgUser;
            height        : $imgUser;
            border-radius : 50%;
            box-sizing    : border-box;
            overflow      : hidden;
            margin-right  : .6rem;
            border        : 1.5px solid $Warning;
            @include display-Align;
            img{
                width : 100%;
            }
        }
        &Name{
            color     : $textOscuro;
            font-size : 1rem;
            @include display-Align;
        }
        &IcoDown{
            @include display-Align;
        }
    }
    &-ConfigUser{
        position                  : absolute;
        top                       : $altoHeader + 10px;
        display                   : none;
        width                     : 150px;
        right                     : 0px;
        height                    : initial;
        line-height               : initial;
        box-shadow                : 0px 8px 20px 1px rgba(0, 0, 0, .4);
        border-radius             : 3px;
        z-index                   : 7;
        animation-name            : Config-User__FX;
        animation-duration        : .5s;
        animation-timing-function : ease-in-out;
        ul{
            width            : 100%;
            position         : relative;
            overflow         : hidden;
            border-radius    : 3px;
            background-color : $bg-SelectOption;
            li{
                display     : inline-block;
                width       : 100%;
                a{
                    display         : inline-block;
                    text-decoration : none;
                    color           : #fff;
                    font-size       : 0.9rem;
                    padding         : 10px 0px 10px 5px;
                    width           : 100%;
                    border-top      : 1px solid $bg-SelectOption + 10%;
                    border-bottom   : 1px solid $bg-SelectOption - 10%;
                    transition      : all 0.5s;
                    &:hover{
                        background-color : $bg-SelectOption - 8%;
                        transition       : all 0.5s;
                    }
                }
                &:nth-child(1){
                    a{
                        border-top: none;
                    }
                }
            }
        }
        &::before{
            content       : '';
            display       : inline-block;
            position      : absolute;
            top           : -5.5px;
            right         : 7px;
            border-bottom : 6px solid $bg-SelectOption;
            border-right  : 9px solid transparent;
            border-left   : 9px solid transparent;
        }
        &--Close{
            animation-name            : Config-User__FX--close;
            animation-duration        : 0.5s;
            animation-timing-function : ease-in-out;
        }
    }
    &-Search{
        position: relative;
        background-color: transparent;
        left: 30px;
        border-bottom: 1px solid $default !important;
        width: 220px;
        &:focus{
            color         : $Warning;
            border-bottom : 1px solid $Warning !important;
        }
        &[placeholder]{
            color : $Warning;
        }
    }
    &-ShortCut{
        @include display-Align;
        position : relative;
    }
    &-NumberCount {
        width            : $radio_NumberCount;
        height           : $radio_NumberCount;
        border-radius    : 50%;
        box-sizing       : border-box;
        line-height      : $radio_NumberCount;
        background-color : $Danger;
        color            : #fff;
        text-align       : center;
        position         : absolute;
        top              : -9px;
        right            : -1px;
        font-size        : 0.65rem;
        box-shadow       : 1px 1px 3px rgba(0,0,0, 0.3);
        cursor           : default;
    }
}

@keyframes Config-User__FX{
    0%{
        top : $altoHeader + 30px;
    }
    100%{
        top : $altoHeader + 10px;
    }
}
@keyframes Config-User__FX--close{
    0%{
        top : $altoHeader + 10px;
    }
    100%{
        top : $altoHeader + 30px;
    }
}

.Content{
    background-color : #F5F8FA;
    height           : calc(100% - #{$altoHeader});
    display          : flex;
}
.Calendar{
    background-color : #fff;
    border           : 1px solid $disabled;
    width            : 100%;
    margin           : auto $paddingHeader;
    box-sizing       : border-box;
    height           : 95%;
    border-radius    : 5px;
    overflow         : hidden;
    box-shadow       : 0px 0px 4px 2px rgba(0,0,0,0.06);
    position         : relative;
}
.Cal{
    &-Header{
        height        : 60px;
        display       : flex;
    }
    &-DataToday{
        align-self  : center;
        width       : 220px;
        user-select : none;
        span{
            font-size : 2.5rem;
            color     : $Fecha;
            cursor    : pointer;
            @include display-Align;
        }
    }
    &-TodayCurrent{
        cursor : default;
        @include display-Align;
        ul{
            @include display-Align;
            li{
                display     : block;
                font-weight : 300;
                line-height : 1.4rem;
                &:nth-child(1){
                    font-size : 1.2rem;
                    color     : $Fecha;
                }
                &:nth-child(2){
                    font-size : 1rem;
                    color     : $textOscuro;
                }
            }
        }
    }
    &-TodayNumber{
        @include display-Align;
        font-size    : 3.4rem;
        line-height  : 2.5rem;
        color        : $Fecha;
        margin-right : 2px;
    }
    &-ActionData{
        width            : calc(100% - 220px);
        background-color : #fafafa;
        border-left      : 1px solid $disabled;
        border-bottom    : 1px solid $disabled;
        display          : flex;
        align-self       : center;
        height           : 60px;
        box-sizing       : border-box;
        padding          : 0px 2rem;
    }
    &-Filter{
        display     : flex;
        align-self  : center;
        margin-left : auto;
        align-items : center;
        cursor      : default;
        user-select : none;
        &Text{
            color        : $textOscuro;
            margin-right : 10px;
        }
    }
    &-Body{
        width      : 100%;
        box-sizing : border-box;
        padding    : 5px 20px 0px 20px;
        height     : 100%;
    }
}

.State{
    color: $default !important;
    &--Citado{
        color: $Modify !important;
    }
    &--enEspera{
        color: $Warning !important;
    }
    &--Incomodo{
        color: $Danger !important;
    }
    &--enAtencion{
        color: $Success !important;
    }
    &--Atendido{
        color: $Info !important;
    }
}
.StateDat{
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: $default;
    &--Citado{
        background-color: $Modify !important;
    }
    &--enEspera{
        background-color: $Warning !important;
    }
    &--Incomodo{
        background-color: $Danger !important;
    }
    &--enAtencion{
        background-color: $Success !important;
    }
    &--Atendido{
        background-color: $Info !important;
    }
}
.HoraRegistro{
    color: $textOscuro;
    span{
        height           : 25px;
        width            : 5px;
        display          : inline-block;
        background-color : $default;
        position         : absolute;
        left             : 8px;
        top              : -2px;
    }
}
.Table{
    &-Head{
        display : flex;
        height  : 40px;
        padding : 0px 20px;
    }
    &-Body{
        box-sizing: border-box;
        position: relative;
        bottom: 0px;
        height: calc(100% - 120px);
        width: 100%;
        overflow: overlay;
        left: 0px;
        padding: 0px 20px;
        &::-webkit-scrollbar{
            width: 10px;
            background : #fff;
        }
        &::-webkit-scrollbar-button{
            width  : 8px;
            height : 5px;
        }
        &::-webkit-scrollbar-track{
            background    : $disabled;
            border-radius : 10px;
        }
        &::-webkit-scrollbar-thumb,{
            background    : $Warning;
            border-radius : 10px;
        }
    }
}

.tr{
    width       : 100%;
    display     : flex;
    align-items : center;
    &--widthTopTR{
        width       : calc(100% - 25px);
        margin-left : auto;
        color: $textOscuro;
        border-bottom: 1px solid #eee;
    }
}
.td{
    border-right   : 1px solid $disabled;
    display        : flex;
    vertical-align : middle;
    &:nth-last-child(30n+1){
        border-right : none;
    }
    &-state{
        width : 25px;
        span{
            width            : 12px;
            height           : 12px;
            box-sizing       : border-box;
            display          : inline-block;
            background-color : $default;
            border-radius    : 50%;
        }
    }
    &-Registro{
        display          : flex;
        background-color : #f9f9f9;
        height           : 45px;
        align-self       : center;
        align-items      : center;
        width            : calc(100% - 25px);
        transition       : background-color 0.5s;
        border-bottom    : 1px solid #eee;
        &:hover{
            background-color : #f9f9f9 - 5%;
            transition       : background-color 0.5s;
        }
    }
    &--HoraActual{
        background-color: #fff;
        &:hover{
            background-color: #fff;
        }
    }
    &-Container{
        width           : 100%;
        display         : flex;
        justify-content : center;
        position        : relative;
        input{
            color          : $Modify;
            text-transform : uppercase !important;
            text-align     : left;
            width          : 100%;
            &::-webkit-input-placeholder{
                text-transform: none;
            }
        }
    }
}

.PanelMsg{
    position         : absolute;
    right            : 235px;
    height           : 500px;
    width            : 300px;
    top              : $altoHeader + 10px;
    background-color : $bg-SelectOption;
    z-index          : 5;
    border-radius    : 3px;
    box-shadow       : 0px 10px 15px rgba(0,0,0,0.2);
    display          : none;
    p{
        color         : #fff;
        padding       : 15px 20px;
        margin        : 0px;
        border-bottom : 1px solid $bg-SelectOption + 10%;
    }
    &::before{
        content: '';
        display: inline-block;
        border-bottom: 10px solid $bg-SelectOption;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -9px;
        right: 65px;
    }
    &-Users{
        width    : 100%;
        height   : 447px;
        overflow : overlay;
        &::-webkit-scrollbar{
            width: 4px;
            background : transparent;
        }
        &::-webkit-scrollbar-track{
            background    : $bg-SelectOption - 10%;
            border-radius : 10px;
        }
        &::-webkit-scrollbar-thumb,{
            background    : $Warning;
            border-radius : 10px;
        }
    }
}
// .Open-Mensajes{
//     top     : $altoHeader + 10px;
//     opacity : 1;
//     @include animation(Open-Mensajes,0.5s,ease-in-out);
// }
// .Close-Mensajes{
//     top     : $altoHeader + 10px;
//     opacity : 0;
//     @include animation(Close-Mensajes,0.5s,ease-in-out);
// }
// @keyframes Open-Mensajes{
//     0%{
//         top : $altoHeader + 30px;
//     }
//     100%{
//         top : $altoHeader + 10px;
//     }
// }
// @keyframes Close-Mensajes{
//     0%{
//         top : $altoHeader + 10px;
//     }
//     100%{
//         top : $altoHeader + 30px;
//     }
// }
.UserMsg{
    display     : flex;
    align-items : center;
    padding     : 10px 18px 10px 15px;
    margin      : 10px 0px;
    cursor      : pointer;
    transition  : background-color 0.2s;
    position    : relative;
    border-left: 5px solid transparent;
    &:hover{
        transition: background-color 0.2s;
        background-color: $bg-SelectOption - 10%;
        border-left: 5px solid $Info;
    }
    &-Picture{
        width         : 50px;
        height        : 50px;
        box-sizing    : border-box;
        border-radius : 50%;
        border        : 5px solid $bg-SelectOption + 20%;
        overflow      : hidden;
        img{
            width : 100%;
        }
    }
    &-Name{
        color: #fff;
        margin-left: 10px;
        span{
            display   : block;
            font-size : 0.8rem;
            color: #7d7d7d !important;
        }
    }
    &-NumberMsg{
        color            : #fff;
        background-color : $Info;
        box-sizing       : border-box;
        font-size        : 0.9rem;
        border-radius    : 20px 20px 20px 0px;
        text-align       : center;
        width            : 25px;
        height           : 25px;
        line-height      : 25px;
        margin-left      : auto;
        position         : relative;
        user-select      : none;
        &::before{
            content          : '';
            position         : absolute;
            top              : -2px;
            width            : 1px;
            height           : 30px;
            right            : 36px;
            background-color : $bg-SelectOption + 10%;
        }
    }
    &::before{
        content          : '';
        position         : absolute;
        top              : 69px;
        width            : 60px;
        height           : 1px;
        left             : 10px;
        background-color : $bg-SelectOption + 20%;
    }
}
