.AppWrapper {
  width: 100%;
  height: 100%;
}

.Header {
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  box-shadow: 0px 0.5px 0.8px rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  width: 100%;
  padding: 0px 2rem;
  position: relative;
  top: 0px;
  z-index: 6;
}

.Header-logo {
  width: 150px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Header-PullRight {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-left: auto;
}

.Header-ShortCutsContainer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  vertical-align: middle;
}

.Header-Separador {
  width: 1px;
  height: 38px;
  background-color: #f9a825;
  margin: 0px 12px;
  display: inline-block;
  vertical-align: middle;
}

.Header-User {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  vertical-align: middle;
}

.Header-UserPicture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: .6rem;
  border: 1.5px solid #f9a825;
  display: inline-block;
  vertical-align: middle;
}

.Header-UserPicture img {
  width: 100%;
}

.Header-UserName {
  color: #757575;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.Header-UserIcoDown {
  display: inline-block;
  vertical-align: middle;
}

.Header-ConfigUser {
  position: absolute;
  top: 65px;
  display: none;
  width: 150px;
  right: 0px;
  height: initial;
  line-height: initial;
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  z-index: 7;
  -webkit-animation-name: Config-User__FX;
          animation-name: Config-User__FX;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.Header-ConfigUser ul {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  background-color: #262d34;
}

.Header-ConfigUser ul li {
  display: inline-block;
  width: 100%;
}

.Header-ConfigUser ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 0px 10px 5px;
  width: 100%;
  border-top: 1px solid #30373e;
  border-bottom: 1px solid #1c232a;
  transition: all 0.5s;
}

.Header-ConfigUser ul li a:hover {
  background-color: #1e252c;
  transition: all 0.5s;
}

.Header-ConfigUser ul li:nth-child(1) a {
  border-top: none;
}

.Header-ConfigUser::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5.5px;
  right: 7px;
  border-bottom: 6px solid #262d34;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.Header-ConfigUser--Close {
  -webkit-animation-name: Config-User__FX--close;
          animation-name: Config-User__FX--close;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.Header-Search {
  position: relative;
  background-color: transparent;
  left: 30px;
  border-bottom: 1px solid #bdbdbd !important;
  width: 220px;
}

.Header-Search:focus {
  color: #f9a825;
  border-bottom: 1px solid #f9a825 !important;
}

.Header-Search[placeholder] {
  color: #f9a825;
}

.Header-ShortCut {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.Header-NumberCount {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 16px;
  background-color: #ef5350;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -9px;
  right: -1px;
  font-size: 0.65rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: default;
}

@-webkit-keyframes Config-User__FX {
  0% {
    top: 85px;
  }
  100% {
    top: 65px;
  }
}

@keyframes Config-User__FX {
  0% {
    top: 85px;
  }
  100% {
    top: 65px;
  }
}

@-webkit-keyframes Config-User__FX--close {
  0% {
    top: 65px;
  }
  100% {
    top: 85px;
  }
}

@keyframes Config-User__FX--close {
  0% {
    top: 65px;
  }
  100% {
    top: 85px;
  }
}

.Content {
  background-color: #F5F8FA;
  height: calc(100% - 55px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.Calendar {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  width: 100%;
  margin: auto 2rem;
  box-sizing: border-box;
  height: 95%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.06);
  position: relative;
}

.Cal-Header {
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.Cal-DataToday {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 220px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Cal-DataToday span {
  font-size: 2.5rem;
  color: #f06b59;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.Cal-TodayCurrent {
  cursor: default;
  display: inline-block;
  vertical-align: middle;
}

.Cal-TodayCurrent ul {
  display: inline-block;
  vertical-align: middle;
}

.Cal-TodayCurrent ul li {
  display: block;
  font-weight: 300;
  line-height: 1.4rem;
}

.Cal-TodayCurrent ul li:nth-child(1) {
  font-size: 1.2rem;
  color: #f06b59;
}

.Cal-TodayCurrent ul li:nth-child(2) {
  font-size: 1rem;
  color: #757575;
}

.Cal-TodayNumber {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.4rem;
  line-height: 2.5rem;
  color: #f06b59;
  margin-right: 2px;
}

.Cal-ActionData {
  width: calc(100% - 220px);
  background-color: #fafafa;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  height: 60px;
  box-sizing: border-box;
  padding: 0px 2rem;
}

.Cal-Filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-left: auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Cal-FilterText {
  color: #757575;
  margin-right: 10px;
}

.Cal-Body {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px 0px 20px;
  height: 100%;
}

.State {
  color: #bdbdbd !important;
}

.State--Citado {
  color: #ff8a65 !important;
}

.State--enEspera {
  color: #f9a825 !important;
}

.State--Incomodo {
  color: #ef5350 !important;
}

.State--enAtencion {
  color: #9ccc65 !important;
}

.State--Atendido {
  color: #42a5f5 !important;
}

.StateDat {
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px;
  background-color: #bdbdbd;
}

.StateDat--Citado {
  background-color: #ff8a65 !important;
}

.StateDat--enEspera {
  background-color: #f9a825 !important;
}

.StateDat--Incomodo {
  background-color: #ef5350 !important;
}

.StateDat--enAtencion {
  background-color: #9ccc65 !important;
}

.StateDat--Atendido {
  background-color: #42a5f5 !important;
}

.HoraRegistro {
  color: #757575;
}

.HoraRegistro span {
  height: 25px;
  width: 5px;
  display: inline-block;
  background-color: #bdbdbd;
  position: absolute;
  left: 8px;
  top: -2px;
}

.Table-Head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 0px 20px;
}

.Table-Body {
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  height: calc(100% - 120px);
  width: 100%;
  overflow: overlay;
  left: 0px;
  padding: 0px 20px;
}

.Table-Body::-webkit-scrollbar {
  width: 10px;
  background: #fff;
}

.Table-Body::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

.Table-Body::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.Table-Body::-webkit-scrollbar-thumb {
  background: #f9a825;
  border-radius: 10px;
}

.tr {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tr--widthTopTR {
  width: calc(100% - 25px);
  margin-left: auto;
  color: #757575;
  border-bottom: 1px solid #eee;
}

.td {
  border-right: 1px solid #e0e0e0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}

.td:nth-last-child(30n+1) {
  border-right: none;
}

.td-state {
  width: 25px;
}

.td-state span {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #bdbdbd;
  border-radius: 50%;
}

.td-Registro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  height: 45px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 25px);
  transition: background-color 0.5s;
  border-bottom: 1px solid #eee;
}

.td-Registro:hover {
  background-color: #f4f4f4;
  transition: background-color 0.5s;
}

.td--HoraActual {
  background-color: #fff;
}

.td--HoraActual:hover {
  background-color: #fff;
}

.td-Container {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.td-Container input {
  color: #ff8a65;
  text-transform: uppercase !important;
  text-align: left;
  width: 100%;
}

.td-Container input::-webkit-input-placeholder {
  text-transform: none;
}

.PanelMsg {
  position: absolute;
  right: 235px;
  height: 500px;
  width: 300px;
  top: 65px;
  background-color: #262d34;
  z-index: 5;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  display: none;
}

.PanelMsg p {
  color: #fff;
  padding: 15px 20px;
  margin: 0px;
  border-bottom: 1px solid #30373e;
}

.PanelMsg::before {
  content: '';
  display: inline-block;
  border-bottom: 10px solid #262d34;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -9px;
  right: 65px;
}

.PanelMsg-Users {
  width: 100%;
  height: 447px;
  overflow: overlay;
}

.PanelMsg-Users::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.PanelMsg-Users::-webkit-scrollbar-track {
  background: #1c232a;
  border-radius: 10px;
}

.PanelMsg-Users::-webkit-scrollbar-thumb {
  background: #f9a825;
  border-radius: 10px;
}

.UserMsg {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 18px 10px 15px;
  margin: 10px 0px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
  border-left: 5px solid transparent;
}

.UserMsg:hover {
  transition: background-color 0.2s;
  background-color: #1c232a;
  border-left: 5px solid #42a5f5;
}

.UserMsg-Picture {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid #3a4148;
  overflow: hidden;
}

.UserMsg-Picture img {
  width: 100%;
}

.UserMsg-Name {
  color: #fff;
  margin-left: 10px;
}

.UserMsg-Name span {
  display: block;
  font-size: 0.8rem;
  color: #7d7d7d !important;
}

.UserMsg-NumberMsg {
  color: #fff;
  background-color: #42a5f5;
  box-sizing: border-box;
  font-size: 0.9rem;
  border-radius: 20px 20px 20px 0px;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-left: auto;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.UserMsg-NumberMsg::before {
  content: '';
  position: absolute;
  top: -2px;
  width: 1px;
  height: 30px;
  right: 36px;
  background-color: #30373e;
}

.UserMsg::before {
  content: '';
  position: absolute;
  top: 69px;
  width: 60px;
  height: 1px;
  left: 10px;
  background-color: #3a4148;
}
