// Color de Tema
$First       : #5F6A75;
$Second      : #8492A6;
$Third       : #C1CAD3;
$Fourth      : #E0E6ED;
$Alternative : #FFA900;

// Color de Botones
$Default              : #C1CAD3;
$Default-Disabled     : #ECEFF2;
$Success              : #5AC731;
$Success-Disabled     : #CDEEC1;
$Danger               : #FF524F;
$Danger-Disabled      : #FFCBCA;
$Warning              : #FFA900;
$Warning-Disabled     : #FFE5B2;
$Information          : #00C4F9;
$Information-Disabled : #B2EDFD;
$Modify               : #FF8A65;
$Modify-Disabled      : #FFDCD1;

// Color de DropDowns
$Group-DropDows            : #262D34;
$Group-DropDows-LineTop    : #30373E;
$Group-DropDows-LineBottom : #1C232A;
$Group-DropDows-Hover      : #1C232A;
