 @import '_font';

// Estilos Raíz
*{
	box-sizing: border-box;
}
*{
    &::after,
    &::before{
        box-sizing: border-box;
    }
}
html, body{
    width : 100%;
    height: 100%;
    font-size: 14px;
}
body{
	font:{
		weight:  400;
		family:  $fontDefault;
	}
}

// Limpieza de Estilos de Etiquetas
.u{
	&-ClearUl{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}
