$version: "v0.0.1";
$webSystem: '(http://www.michaelcardoza.com/lance)';
$webDeveloper: '(http://www.michaelcardoza.com)';
/*!
 * framework Lance #{$version} #{$webSystem}.
 * Copyright 2016 Michael Cardoza #{$webDeveloper}
 */

 /*/////////////////////////////////////////*/
 /*//                                     //*/
 /*//        Estilos de Globales          //*/
 /*//                                     //*/
 /*/////////////////////////////////////////*/
@import '../fonts/_flaticon.css';
@import '_global';
@import '_color';
@import '_font';

 /*/////////////////////////////////////////*/
 /*//                                     //*/
 /*//          Estilos de Thema           //*/
 /*//                                     //*/
 /*/////////////////////////////////////////*/

/***Estilos de Botones***/
@import 'components/_botones';

/***Estilos de Iconoes***/
@import 'components/_iconos';

/***Estilos de Alertas***/
@import 'components/_alertas';

/***Estilos de Modulos***/
//@import 'components/_modulos';

/***Estilos de Formularios***/
@import 'components/_form';
