// @import '../_color';
// $circuloIcono : 35px;
// $altoMensaje  : 50px;
//
// .Msg-Wrapper{
//     display: none;;
// }
//
// @mixin PositionElement($color, $bg-color-msg) {
//     color            : $color;
//     background-color : $bg-color-msg;
// }
// 
// .Msg{
//     position      : absolute;
//     display       : flex;
//     width         : 300px;
//     user-select   : none;
//     height        : $altoMensaje;
//     border-radius : 5px;
//     overflow      : hidden;
//     transition    : all 0.5s;
//     box-shadow    : 4px 8px 20px 0px rgba(0, 0, 0, .25);
//     z-index       : 6;
//     // animation-duration        : 1s;
//     // animation-timing-function : ease-in-out;
//     &:hover{
//         box-shadow : 2px 4px 10px 0px rgba(0, 0, 0, .18);
//         transition : all 0.5s;
//     }
//     &--Alert,{
//         right : $paddingHeader;
//         top   : $altoHeader + 10px;
//         @include PositionElement(#fff, $Info);
//         //animation-name            : msg__Alert--FX;
//     }
//     &--Warning{
//         right  : $paddingHeader;
//         bottom : 15px;
//         @include PositionElement(#fff, $Warning);
//     }
//     &--Danger{
//         left  : $paddingHeader;
//         bottom : 15px;
//         @include PositionElement(#fff, $Danger);
//     }
//     &--Success{
//         left : $paddingHeader;
//         top  : $altoHeader + 10px;
//         @include PositionElement(#fff, $Success);
//     }
//     &-Ico{
//         @include display-Align;
//         width                     : $circuloIcono;
//         background-color          : #fff;
//         color                     : #bdbdbd;
//         height                    : $circuloIcono;
//         line-height               : $circuloIcono;
//         text-align                : center;
//         position                  : absolute;
//         box-sizing                : border-box;
//         border-radius             : 50%;
//         top                       : 0px;
//         bottom                    : 0px;
//         margin                    : auto;
//         left                      : 10px;
//         box-shadow                : 0px 0px 0px 5px rgba(255,255,255,0.4);
//         animation-name            : sombra--FX;
//         animation-duration        : 2s;
//         animation-iteration-count : infinite;
//         animation-timing-function : ease-in;
//     }
//     &-Mensaje{
//         font-size   : 1rem;
//         align-self  : center;
//         width       : 165px;
//         box-sizing  : border-box;
//         margin-left : auto;
//     }
//     &--NoOption{
//         width: 235px;
//     }
//     &-Option{
//         width       : 70px;
//         text-align  : center;
//         border-left : 1px solid rgba(0,0,0,.1);
//         display     : flex;
//         flex-wrap   : wrap;
//         li{
//             height           : $altoMensaje/2;
//             align-self       : center;
//             width            : 100%;
//             cursor           : pointer;
//             transition       : all 0.5s;
//             background-color : rgba(0,0,0,0.1);
//             &:hover{
//                 background-color : rgba(0,0,0,0.2);
//                 transition       : all 0.5s;
//             }
//             &:nth-child(1){
//                 padding-top: 1.5px;
//             }
//             &:nth-child(2){
//                 border-top  : 1px solid rgba(0,0,0,0.08);
//             }
//         }
//         .Alone{
//             height : $altoMensaje;
//             line-height: $altoMensaje;
//             padding: 0px !important;
//         }
//     }
// }
// // @keyframes msg__Alert--FX{
// //     0%{
// //         top        : $altoHeader + 50px;
// //         box-shadow : 0px 0px 0px 0px rgba(0, 0, 0, .18);
// //     }
// //     100%{
// //         top        : $altoHeader + 10px;
// //         box-shadow : 4px 8px 20px 0px rgba(0, 0, 0, .18);
// //     }
// // }
// @keyframes sombra--FX{
//     0%{
//         box-shadow : 0px 0px 0px 0px rgba(255,255,255,0.0);
//     }
//     20%{
//         box-shadow : 0px 0px 0px 20px rgba(255,255,255,0.4);
//     }
//     40%{
//         box-shadow : 0px 0px 10px 20px rgba(255,255,255,0.0);
//     }
//     60%{
//         box-shadow : 0px 0px 0px 0px rgba(255,255,255,0.0);
//     }
//     80%{
//         box-shadow : 0px 0px 0px 20px rgba(255,255,255,0.4);
//     }
//     100%{
//         box-shadow : 0px 0px 10px 20px rgba(255,255,255,0.0);
//     }
// }
