@import '../_color';
// Variables de Ancho y Alto
$altoStandar   : 25px;
$anchoStandar  : 80px;
$anchoMedium   : 130px;
$anchoBig      : 180px;
$anchoBigLarge : 100%;
//
// //variables Extras
// $borderStandar : 2px;
//
// // mixins
// @mixin boton-color($bg-color) {
//     background-color : $bg-color;
//     transition       : background-color 0.5s;
//     border           : 1px solid ($bg-color - 5%);
//     &:hover{
//         transition       : background-color 0.5s;
//         background-color : ($bg-color + 15%);
//         border           : 1px solid ($bg-color + 10%);
//     }
// }
// button{
//     outline : none;
//     font:{
//         family : inherit;
//         size   : inherit;
//         weight : inherit;
//     }
// }
// //botones
// .Btn,
// .BtnDrop{
//     text-align       : center;
//     display          : inline-block;
//     vertical-align   : middle;
//     text-decoration  : none;
//     cursor           : pointer;
//     padding          : 0px;
//     font-size        : 0.9rem;
//     height           : 28px;
//     line-height      : 26px;
//     width            : $anchoStandar;
//     color            : $Default;
//     background-color : #fff;
//     border           : 1px solid $Default;
//     border-radius    : $borderStandar;
//     box-sizing       : border-box;
//     touch-action     : manipulation;
//     user-select      : none;
//     white-space      : nowrap;
//     position         : relative;
//     &--Medium{
//         width : $anchoMedium;
//     }
//     &--Big{
//         width : $anchoBig;
//     }
//     &--Success,
//     &--Info,
//     &--Modify,
//     &--Danger,
//     &--Warning,
//     &--Disabled,
//     &--Default{
//         color : #fff;
//     }
//     &--Success{
//         @include boton-color($Success);
//     }
//     &--Info{
//         @include boton-color($Info);
//     }
//     &--Modify{
//         @include boton-color($Modify);
//     }
//     &--Danger{
//         @include boton-color($Danger);
//     }
//     &--Warning{
//         @include boton-color($Warning);
//     }
//     &--Default{
//         @include boton-color($Default);
//     }
//     &--Disabled{
//         background-color : $disabled;
//         color            : #fafafa;
//         border           : 1px solid #fbfbfb;
//         cursor           : default;
//     }
//     &--icoRight,
//     &--icoLeft{
//         font-family    : 'Icon-font';
//         display        : inline-block;
//         vertical-align : middle;
//         font-size      : 0.8rem;
//         position       : relative;;
//     }
//     &--icoRight{
//         position : absolute;
//         right    : 8px;
//     }
//     &--icoLeft{
//         float        : left;
//         margin-right : 5px;
//         margin-top   : 1px;
//     }
// }
// .BtnDrop{
//     text-align    : left;
//     line-height   : 24px !important;
//     padding-left  : 0.5rem;
//     padding-right : 0.5rem;
// }
// .DropGroup{
//     display  : inline-block;
//     position : relative;
// }
// .Drop-List{
//     display                   : none;
//     position                  : absolute;
//     top                       : 40px;
//     width                     : 100%;
//     box-shadow                : 5px 7px 20px 0px rgba(0, 0, 0, 0.22);
//     border-radius             : 3px;
//     z-index                   : 3;
//     animation-name            : DropDown__FX;
//     animation-duration        : .5s;
//     animation-timing-function : ease-in-out;
//     ul{
//         width            : 100%;
//         position         : relative;
//         overflow         : hidden;
//         border-radius    : 3px;
//         background-color : $bg-SelectOption;
//         li{
//             display         : inline-block;
//             text-decoration : none;
//             color           : #fff;
//             font-size       : 0.9rem;
//             padding         : 10px 0px 10px 10px;
//             width           : 100%;
//             border-top      : 1px solid $bg-SelectOption + 10%;
//             border-bottom   : 1px solid $bg-SelectOption - 10%;
//             transition      : all 0.5s;
//             cursor          : pointer;
//             &:hover{
//                 background-color : $bg-SelectOption - 8%;
//                 transition       : all 0.5s;
//             }
//             &:nth-child(1){
//                 border-top: none;
//             }
//         }
//     }
//     &::before{
//         content       : '';
//         display       : inline-block;
//         position      : absolute;
//         top           : -5.5px;
//         right         : 7px;
//         border-bottom : 6px solid $bg-SelectOption;
//         border-right  : 9px solid transparent;
//         border-left   : 9px solid transparent;
//     }
//     &--Naranja{
//         right: -55px;
//         ul{
//             background-color : $bg-salmon !important;
//             li{
//                 color           : $bg-salmonSuave !important;
//                 border-top      : 1px solid #FF9777 !important;
//                 border-bottom   : 1px solid #FF7D54 !important;
//                 &:hover{
//                     background-color : $bg-salmon - 8% !important;
//                 }
//                 &:nth-child(1){
//                     border-top: none !important;
//                 }
//                 span{
//                     background-color: $bg-salmonSuave !important;
//                 }
//             }
//         }
//         &::before{
//             right: calc(50% - 12px);
//             border-bottom : 6px solid $bg-salmon !important;
//         }
//     }
//     &--Alternativa{
//         right: -70px;
//         &::before{
//             right: calc(50% - 12px);
//             border-bottom : 6px solid #424242 !important;
//         }
//     }
// }
// @keyframes DropDown__FX{
//     0%{
//         top : 70px;
//     }
//     100%{
//         top : 40px;
//     }
// }
//
// .InputGroup{
//     display     : flex;
//     user-select : none;
//     li{
//         align-self : center;
//         input{
//             display : none;
//             &:checked + label{
//                 cursor           : default;
//                 background-color : $Fecha;
//                 color            : #fff;
//                 border           : 1px solid $Fecha;
//             }
//         }
//         label{
//             display          : inline-block;
//             cursor           : pointer;
//             width            : 80px;
//             height           : 30px;
//             line-height      : 30px;
//             text-align       : center;
//             background-color : #F5F5F5;
//             border-top       : 1px solid $disabled;
//             border-bottom    : 1px solid $disabled;
//             border-right     : 1px solid $disabled;
//             color            : $textOscuro;
//             &:hover{
//                 color            : #fff;
//                 background-color : #e6614f + 40%;
//                 border: 1px solid $Fecha;
//             }
//         }
//         &:nth-child(1){
//             border-left   : 1px solid $disabled;
//             border-radius : 3px 0px 0px 3px;
//             overflow: hidden;
//         }
//         &:nth-last-child(30n+1){
//             border-right  : 1px solid $disabled;
//             border-radius : 0px 3px 3px 0px;
//             border-right  : none;
//             overflow: hidden;
//         }
//     }
// }
