// input,
// input[type="search"]{
//     display    : inline-block;
//     box-sizing : border-box;
//     border     : none;
//     outline    : none;
//     background-color: transparent;
// }
// textarea{
//     border  : none;
//     outline : none;
//     padding : 10px;
// }
