// @mixin animation($A-Name,$A-Duration,$Point-Animation) {
//     animation-name            : $A-Name;
//     animation-duration        : $A-Duration;
//     animation-timing-function : $Point-Animation;
// }
// .fx{
//     &-Blur{
//         filter                    : blur(2px);
//         @include animation(fx-blur,0.5s,ease-in-out);
//     }
//     &-Blur--Out{
//         filter                    : blur(0px);
//         @include animation(fx-blur--Out,1s,ease-in-out);
//     }
// }
// @keyframes fx-blur{
//     0%{
//         filter : blur(0px);
//     }
//     100%{
//         filter : blur(2px);
//     }
// }
// @keyframes fx-blur--Out{
//     0%{
//         filter : blur(2px);
//     }
//     100%{
//         filter : blur(0px);
//     }
// }
