// @import '../_color';
//
// .Ifont{
//     margin : 0px 5px;
//     color  : #757575;
//     font:{
//         family : 'Icon-font';
//         size   : .9rem;
//     }
//     &--Default{
//         margin   : 0px 10px;
//         cursor   : pointer;
//         position : relative;
//         z-index  : 1;
//         font:{
//             family : 'Icon-font';
//             size   : 1.2rem;
//             weight : normal;
//         }
//     }
//     &--Amarillo{
//         color : $Warning;
//     }
//     &--PlomOscuro{
//         color: #757575;
//     }
//     &--PlomoClaro{
//         color: #bdbdbd;
//     }
// }
