@import "./_color";
@mixin animation($A-Name,$A-Duration,$Point-Animation) {
    animation-name            : $A-Name;
    animation-duration        : $A-Duration;
    animation-timing-function : $Point-Animation;
}
.Modal{
    background-color          : rgba(245,245,245, 0.7);
    position                  : fixed;
    top                       : $altoHeader;
    width                     : 100%;
    height                    : 100%;
    box-sizing                : border-box;
    z-index                   : 5;
    display                   : none;
    align-items               : flex-start;
    justify-content           : center;
    opacity                   : 1;
    @include animation(bg-model-fx,0.5s,ease-in-out);
    &--Default{
        position      : relative;
        top           : 15%;
        border-radius : 3px;
        overflow      : hidden;
        box-shadow    : 0px 5px 25px 0px rgba(0,0,0,0.15);
        opacity       : 1;
        @include animation(model-fx,0.5s,ease-in-out);
    }
    &-Title{
        background-color : $Warning;
        height           : 40px;
        line-height      : 40px;
        padding          : 0px 3%;
        user-select      : none;
        position         : relative;
        &::before{
            content      : '';
            position     : absolute;
            left         : 30px;
            top          : 98%;
            display      : inline-block;
            border-top   : 10px solid $Warning;
            border-left  : 10px solid transparent;
            border-right : 10px solid transparent;
            z-index      : 5;
        }
        span{
            color     : #fff;
            font-size : 1.2rem;
        }
    }
    &-Content{
        padding          : 30px 25px 20px 25px;
        border           : 1px solid $Warning;
        border-top       : none;
        background-color : #fff;
        textarea{
            background-color : #fafafa;
            border           : 1px solid #eee;
            color            : #424242;
        }
    }
    &-Botones{
        margin-top : 15px;
        display    : flex;
        justify-content: flex-end;
    }
    &--BtnMargin{
        margin-left: 20px;
    }
    &--ComentSize{
        width  : 700px;
        height : 200px;
    }
}

@keyframes model-fx{
    0%{
        top     : 25%;
        opacity : 0;
    }
    100%{
        top     : 15%;
        opacity : 1;
    }
}
@keyframes bg-model-fx{
    0%{
        opacity : 0;
    }
    100%{
        opacity : 1;
    }
}
