// Variables de Color
$Warning         : #f9a825;
$Danger          : #ef5350;
$Success         : #9ccc65;
$Modify          : #ff8a65;
$Info            : #42a5f5;
$disabled        : #e0e0e0;
$Fecha           : #e6614f + 10%;
$textOscuro      : #757575;
$default         : #bdbdbd;
$bg-salmon       : #ff8a65;
$bg-salmonSuave  : #FFCCBC;
$bg-SelectOption : #262d34;
