/*!
 * framework Lance v0.0.1 (http://www.michaelcardoza.com/lance).
 * Copyright 2016 Michael Cardoza (http://www.michaelcardoza.com)
 */
/*/////////////////////////////////////////*/
/*//                                     //*/
/*//        Estilos de Globales          //*/
/*//                                     //*/
/*/////////////////////////////////////////*/
@import url(../fonts/_flaticon.css);
* {
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
}

.u-ClearUl {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*/////////////////////////////////////////*/
/*//                                     //*/
/*//          Estilos de Thema           //*/
/*//                                     //*/
/*/////////////////////////////////////////*/
/***Estilos de Botones***/
/***Estilos de Iconoes***/
/***Estilos de Alertas***/
/***Estilos de Modulos***/
/***Estilos de Formularios***/
